*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}
#bro1{
    width: 200px;
    height: 200px;
    background: red;
    
}
#bro2{
    width: 100px;
    height: 100px;
    background:black;
    position: relative;
    left: 50px;
    top: 50px;
}
#bro1:hover{
    transform: rotate(180deg);
    transition: 1.5s;
    background: green;
}
#bro2:hover{
   transform: rotate(-180deg);
   transition: 2s;
   
   background-color: darkblue;
}