body{
    background-color:  hsl(30, 38%, 92%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
*{
    margin: 0;
    padding: 0;
}

img{
    width: 280px;
    border-radius: 9px;
}
#parfume{
    width: 200px;
    height: 45px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#sandro{
    width: 270px;
    height: 420px;
    background-color: white;
    border-radius: 0px 9px 9px 0px;
    
}
#sa{
    margin: 20px;
    color: rgba(0,0,0,0.5);
    padding: 5px;
}
.gabo{
    text-align: justify;
    font-size: 33px;
    transform: translateX(25px);

}
#luka{
    
    transform: translateX(7px);
    margin: 15px;
    color: rgba(0,0,0,0.5);
   
}
.lu{
    font-size: 60;
    color: hsl(158, 36%, 37%);
    font-weight: 1000;
    transform: translateX(22px);
}
#ki{
    display: flex;
    
}
.lua{
    text-decoration:line-through;
    color: rgba(0,0,0,0.5);
    display: flex;
    justify-content:flex-end;
    align-items: center;
    transform: translateX(40px);
    
}

#luaa{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    transform: translatey(18px);
    font-size: 32px;
    
    
}
button{
    border: none;
    background-color:  hsl(158, 42%, 18%);
    color: white;
    height: 40px;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    gap: 15px;
}
#sandroo{
    font-size: 20px;
}
.kai{
 width:15px;

}