body{
    background-color: aqua;
}
img{
    width: 80%;
}
h1{
text-shadow: 3px 3px 6px green;
}
@media (max-width:80%){
    img{
     width: 40%;
    }
 }
 @media (max-width:40%){
     img{
      width: 20%;
     }
  }
  @media (max-width:20%){
     img{
      width: 10%;
     }
  }