body{
    text-align: center;
    background-color: aquamarine;
}
h1{
    color: blue;
}
img{
    border: 5px dotted blue;
    border-radius: 30px;
}
.hakatoni{
    font-family: "Ga Maamli", sans-serif;
    font-weight: 400;
    font-style: normal;
}
h2{
    color: blue;
}
h3{
    font-family: "Edu AU VIC WA NT Arrows", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    color: red  
}