body{
    background-color: hsl(30, 54%, 90%);
    display: flex;
    justify-content: center;
    align-items: center;
    
   
}
img{
    width: 400px;
    border-radius: 30px;
    padding:22.9px ;
}
#sandro{
    width: 450px;
    height: 1350px;
    background-color: white;
    border-radius: 10px;
}
#sa{
    font-weight: 550;
    font-size: 30px;
    margin: 1px;
    padding:3px;
    
}
#san{
font-size: 12.6px;
padding: 3px;
}
#ki1{
font-weight:700 ;
}
#saba{
    font-size: 16.5px;
    margin: 5px;
    color: hsl(332, 51%, 32%);;
    font-weight: 700 ;
}
#saba1{
    border: 3px solid ;
    margin: 20px;
    border-radius: 5px;
    background-color: hsl(330, 100%, 98%);
    border: none;
    ;
}
.sa{
    color: hsl(332, 51%, 32%);;
    font-weight: 700 ;
 font-size: 25px;
 margin: 5px;
 padding: 20px;
}
.sano{
    display: flex;
    justify-content: center;
    align-items: center;
    color: hsl(332, 51%, 32%);;
    font-weight: 700 ;
}